{% load static %}
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FakeCSV</title>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'
          rel='stylesheet'>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap'
          rel='stylesheet'>

    <!-- Bootstrap CSS -->
    <link href='{% static "fake_csv/css/bootstrap.min.css" %}'
          rel='stylesheet'>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="max-height:70px">
  <span class="navbar-brand mb-0 h1" style="margin-left:30px;font-size:30px">FakeCSV</span>

  <div class='collapse navbar-collapse' id='navbarColor'>
            <ul class='navbar-nav me-auto'>
                <li class='nav-item'>
                    <a class='nav-link' href="{% url 'main' %}" style="margin-left:30px;font-size:20px">Schemas</a>
                </li>
            </ul>

            <ul class='navbar-nav ms-auto'>
                <li class='nav-item'>
                    <p class="nav-link disabled" style="font-size:20px">
                        Hello, <b>{{ request.user.username }}</b>
                    </p>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href="{% url 'logout' %}" style="font-size:20px">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
</nav>


{% block content %}
{% endblock %}


<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'></script>
{% block script %}
{% endblock %}


</body>


</html>